.restaurant-search-module {
  width: 80rem;
  height: 70rem;
  height: 60rem;
  width: 100%;


  display: flex;
  flex-direction: column;

  border: 1px solid var(--almostWhite);
  box-shadow: 0 0 1rem 1rem var(--almostWhite);
}

.results-container {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: row;

  .results-list-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 1rem;

    .results-list {
      margin-bottom: 1rem;
      height: 80%;
      width: 100%;
    }
  }
}

.paginator-container {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

  .paginator
  {
    height: 2rem;
    width: 10rem;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .pagination-table
  {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.5rem 0.1rem var(--lightGray);

    td
    {
      width: 2rem;
      padding: 0.25rem 0.5rem;



      &.current
      {
        background-color: var(--accentColor);
      }
    }
    td:hover
    {
      cursor: pointer;
      filter: brightness(1.2);
      transition-duration: 150ms;
    }
  }

}

.results-container
{
  border: 1px solid var(--almostWhite);
  margin-right: 0.5rem;
}

.map-view
{
  width: 40%;
  padding-bottom: 3rem;
  margin: 1rem;
  height: 80%;
  border: 1px solid var(--almostWhite)

}

.list-entry {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0.5rem 0;
  width: 100%;
  height: 22%;
  background-color: #FAFAFA;

  &.active {
    box-shadow: 0 0 0.5rem 0.1rem var(--lightGray);
  }

  &:hover {
    box-shadow: 0 0 0.5rem 0.1rem var(--almostWhite);
    border: 1px solid var(--gray);

  }

  .icon {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 4rem;
    border-radius: 9999px;
    padding: 0.5rem;
    padding-bottom: 2rem;
    object-fit: contain;

    svg {
      height: 90%;
    }
  }
  .list-entry-img
  {
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;

  }


  .description {
    font-family: Verdana, SansSerif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    color: var(--lightGray);
    height: 100%;
    width: 15rem;
    font-size: 0.6rem;
    padding: 0.75rem 0.25rem 0.25rem 0.25rem;
  }

  .description .name
  {
    text-align: left;
    padding: 0.25rem;
  }

  .description .type {
    color: darkred;
    padding: 0.25rem;
  }

  .location {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0.25rem;

    .pin_icon {
      display: flex;

      justify-content: center;
      height: 100%;
      width: 1rem;
      object-fit: contain;

      svg {
        height: 90%;
      }
    }
  }

  .divider
  {
    margin: 0 0.25rem;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5rem;
    font-size: small;
    color: var(--accentColor)
  }
  .actions {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .phone {
      background-color: var(--accentColor);
      outline: none;
      border: 1px solid var(--lightGray);
      border-radius: 2px;
      padding: 0.35rem;
      width: 10rem;

      &:hover
      {
        filter: brightness(1.1);
      }
    }

    height: 100%;
    width: 15rem;
  }

  .alt-buttons
  {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--lightGray);
    }

    & > *
    {
      padding: 0.25rem;
    }
  }
}

a {
  cursor: pointer;
}

svg:hover
{
  filter: brightness(1.1);
}

.search-bar
{
  width: 100%;
  height: 10rem;

  display: flex;
  flex-direction: column;

  .top-row
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;

    width: 80%;
    height: 2rem;
    padding-left: 0;

    & div, & button, & input
    {
      height: 2rem;

      margin: 0 0;
      padding: 0.25rem;
    }

    & div
    {
      padding: 0;
    }

    .query-name
    {
      width: 20%;
    }
    .query-zip
    {
      width: 25%;
    }
    .query-cuisine
    {
      width: 25%;
    }
    .query-dietary
    {
      width: 20%;
    }
    .search-btn-container
    {
      height: 2rem;
      width: 2rem;

      button
      {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border: 1px solid var(--lightGray);
        outline: none;
        color: var(--white);

        height: 2rem;
        width: 8rem;
        background-color: var(--accentColor);


      }

      svg {
        fill: var(--white);

        width: 1rem;
        height: 1rem;
        margin: 0.25rem;
      }

    }
  }

  .bottom-row
  {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 30rem;

    & > div
    {
      height: 2rem;
      margin: 0 0.25rem;
      border: 2px solid var(--lightGray);
      box-shadow: 0 0 0.5rem 0.1rem var(--almostWhite);
    }

    & div[role='option']
    {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 2rem;

    }

    div[role='option']:hover
    {
      cursor: pointer;
      filter: brightness(1.2);
    }

  }
}

#map
{
  width: 100%;
  height: 100%;
}



div.query-price, div.query-distance
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--accentColor);
  color: var(--almostWhite);
  padding: 0.5rem;
  height: 2.5rem;
  width: 10rem;
  margin: 0;

  position: relative;
  z-index: 1;


  &.is-open
  {
    height: fit-content;
  }
}

div.bottom-row
{
  width: 40rem;
  margin-left: 5rem;
}


div.bottom-row div.num-results
{
  text-align: center;
  padding: 0.25rem;
  border: none;
}