.App {
  text-align: center;
  min-width: 50rem;
  width: 60vw;
  max-width: 70rem;
  margin: auto; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.body-container {
  border: red;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding-top: 1rem;
  margin-top: 1rem; }

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  min-height: 5rem;
  margin: auto; }
  .navigation-bar .hungry-time-icon {
    margin: auto auto auto 0;
    width: 15rem;
    justify-self: start; }
    .navigation-bar .hungry-time-icon img {
      width: 100%;
      height: 100%; }
  .navigation-bar a, .navigation-bar .name {
    text-decoration: none;
    font-weight: bolder;
    color: var(--lightGray);
    font-family: Verdana, SansSerif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .navigation-bar a:hover {
    filter: brightness(1.2);
    cursor: pointer; }
  .navigation-bar .dashboard-link {
    width: 15rem; }
  .navigation-bar .search-link {
    width: 10rem; }
  .navigation-bar svg {
    cursor: pointer; }
  .navigation-bar .alerts-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem; }
  .navigation-bar .user-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem; }

.cheap-icon, .expensive-icon {
  width: 1rem;
  height: 1rem; }

.banner-top {
  display: flex;
  position: absolute;
  left: 0;
  background-color: var(--bannerColor);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  flex-direction: row;
  align-items: center; }
  .banner-top a {
    color: var(--accentColor); }
    .banner-top a:hover {
      filter: brightness(1.2); }
  .banner-top > div:first-child {
    width: 90%;
    margin-left: 5%; }
  .banner-top > div:nth-child(2) {
    width: 5%; }
  .banner-top.hidden {
    transition: opacity;
    transition-duration: 250ms;
    transition-timing-function: ease;
    opacity: 0; }
  .banner-top .close-icon {
    position: static;
    height: 1rem;
    width: 1rem; }
    .banner-top .close-icon:hover {
      filter: brightness(1.2); }
    .banner-top .close-icon svg {
      position: static;
      height: 100%;
      width: 100%; }

.num-results {
  border: none; }

.restaurant-search-module {
  width: 80rem;
  height: 70rem;
  height: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--almostWhite);
  box-shadow: 0 0 1rem 1rem var(--almostWhite); }

.results-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row; }
  .results-container .results-list-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 1rem; }
    .results-container .results-list-container .results-list {
      margin-bottom: 1rem;
      height: 80%;
      width: 100%; }

.paginator_container {
  height: 15%; }
  .paginator_container .paginator {
    height: 2rem;
    width: 10rem;
    display: flex;
    flex-direction: row; }
  .paginator_container .pagination-table td {
    width: 2rem;
    border: 1px solid var(--lightGray); }
    .paginator_container .pagination-table td.current {
      background-color: var(--accentColor); }
  .paginator_container .pagination-table td:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 0.5rem 0.1rem var(--lightGray);
    transition-duration: 150ms; }

.results-container {
  border: 1px solid var(--almostWhite); }

.map-view {
  width: 40%;
  padding-bottom: 3rem;
  margin: 1rem;
  height: 80%;
  border: 1px solid var(--almostWhite); }

.list-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  width: 100%;
  height: 15%;
  background-color: #FAFAFA; }
  .list-entry.active {
    box-shadow: 0 0 1rem 1rem var(--almostBlack); }
  .list-entry:hover {
    box-shadow: 0 0 1rem 1rem var(--almostWhite); }
  .list-entry .icon {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 4rem;
    border-radius: 9999px;
    padding: 0.5rem;
    padding-bottom: 2rem;
    object-fit: contain; }
    .list-entry .icon svg {
      height: 90%; }
  .list-entry .list-entry-img {
    width: 2rem;
    height: 2rem; }
  .list-entry .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    color: var(--lightGray);
    height: 100%;
    width: 15rem;
    font-size: 0.8rem; }
  .list-entry .location {
    display: flex;
    flex-direction: row; }
    .list-entry .location .pin_icon {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 1rem;
      object-fit: contain; }
      .list-entry .location .pin_icon svg {
        height: 90%; }
  .list-entry .divider {
    margin: 0 0.25rem; }
  .list-entry .rating {
    height: 100%;
    width: 10rem; }
  .list-entry .actions {
    height: 100%;
    width: 15rem; }

a {
  cursor: pointer; }

svg:hover {
  filter: brightness(1.1); }

.search-bar {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column; }
  .search-bar .top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    height: 2rem;
    padding-left: 0; }
    .search-bar .top-row div, .search-bar .top-row button, .search-bar .top-row input {
      height: 2rem;
      margin: 0 0;
      padding: 0.25rem; }
    .search-bar .top-row div {
      padding: 0; }
    .search-bar .top-row .query-name {
      width: 20%; }
    .search-bar .top-row .query-zip {
      width: 25%; }
    .search-bar .top-row .query-cuisine {
      width: 25%; }
    .search-bar .top-row .query-dietary {
      width: 20%; }
    .search-bar .top-row .search-btn-container {
      height: 2rem;
      width: 2rem; }
      .search-bar .top-row .search-btn-container button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--lightGray);
        outline: none;
        color: var(--white);
        height: 2rem;
        width: 8rem;
        background-color: var(--accentColor); }
      .search-bar .top-row .search-btn-container svg {
        fill: var(--white);
        width: 1rem;
        height: 1rem;
        margin: 0.25rem; }
  .search-bar .bottom-row {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 30rem; }
    .search-bar .bottom-row > div {
      height: 2rem;
      margin: 0 0.25rem;
      border: 2px solid var(--lightGray);
      box-shadow: 0 0 0.5rem 0.1rem var(--almostWhite); }
    .search-bar .bottom-row div[role='option'] {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 2rem; }
    .search-bar .bottom-row div[role='option']:hover {
      cursor: pointer;
      filter: brightness(1.2); }

#map {
  width: 100%;
  height: 100%; }

div.query-price, div.query-distance {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--accentColor);
  color: var(--almostWhite);
  padding: 0.5rem;
  height: 2.5rem;
  width: 10rem;
  margin: 0;
  position: relative;
  z-index: 1; }
  div.query-price.is-open, div.query-distance.is-open {
    height: fit-content; }

div.bottom-row {
  width: 40rem;
  margin-left: 5rem; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

:root {
  --white: #FFFFFF;
  --almostWhite: #FAFAFA;
  --lightGray: #828282;
  --almostBlack: #1C1C1C;
  --accentColor: #0C8EB3;
  --bannerColor: #CCEFF7;
  --subtitleColor: #955F1B; }
